<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test your skill!</title>
	<script src="https://unpkg.com/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<style>
.active {background-color: green;}
</style>
</head>
<body>

	<div id="app">
		<div :uname.sync="uname" :tid.sync="tid" :is="currentComponent"></div>
		<div v-show="!currentComponent">
		</div>
	</div>

	<template id="initial-form">
		<div id="container">
			<h3 class="text-center">Complete the test</h3>
			<input style="display: block" type="text" id="uname" :value="uname" @input="$emit('update:uname', $event.target.value)" placeholder="Type your name" />
			<select style="display: block" v-cloak id="tid" :value="tid" @input="$emit('update:tid', $event.target.value)">
				<option v-for="test in tests" :value="test.value">{{ test.name }}</option>
			</select>
			<button @click="$parent.beginTest()" :disabled="isDisabled">Begin</button>
		</div>
	</template>

	<template id="test-steps">
		<div id="container">
			<h3 class="text-center">{{questionText}}</h3>
			<ul class="answer-list" v-cloak>
				 <li v-for="answer in answers" id="answer.aid" v-on:click="toggleActive(answer)" v-bind:class="{ 'active': answer.active}">{{answer.txt}}</li>
			</ul>
			<div>progress: {{progress}}%</div>
			<button @click="proceed()" :disabled="isDisabled">{{buttonTxt}}</button>
		</div>
	</template>

	<template id="final-score">
		<div id="container">
			<h3 class="text-center">Final score</h3>
			<div v-cloak>{{uname}}</div>
			<div v-cloak>Your result is: {{score}} of {{total}}</div>
		</div>
	</template>

	<script src="app.js"></script>
</body>
</html>